{{> header_banner}}
{{> flash_messages}}
<section class="add__da">
  <form class="add__da_form" action="/add__da" method="post">
    <h3 class="add__da_form__heading">Add Designated adult</h3>
    <label for="da_first_name" class="add__da__labels"><input type="text" name="first_name" class="add__da__inputs" id="da_first_name" placeholder="First name" required></label>
    <label for="da_last_name" class="add__da__labels"><input type="text" name="last_name" class="add__da__inputs" id="da_last_name" placeholder="Last name" required> </label>
    <label for="da_email" class="add__da__labels"> <input type="text" name="email" class="add__da__inputs" id="da_email" placeholder="Email"> </label>
    <label for="da_address" class="add__da__labels"> <input type="text" name="address" class="add__da__inputs" id="da_address" placeholder="Address" required> </label>
    <label for="da_postcode" class="add__da__labels"><input type="text" name="postcode" class="add__da__inputs" id="da_postcode" placeholder="Postcode" required> </label>
    <label for="da_phone" class="add__da__labels"> <input type="text" name="phone" class="add__da__inputs" id="da_phone" class="Phone number" placeholder="Phone number" required> </label>
    <label for="submitBtn"> <input type="submit" value="Submit" class="add__da__submit"> </label>
  </form>
</section>
  <a href="/parent_profile" class="add__da__back-btn">Back</a>
