<section class="add__child">
  <form class="add__child__form" action="/add_child" method="post">
    <label for="child_first_name" class="add__child__labels">First name <input type="text" name="first_name" class="add__child__inputs" id="child_first_name"> </label>
    <label for="child_last_name" class="add__child__labels">Last name <input type="text" name="last_name" class="add__child__inputs" id="child_last_name"> </label>
    <label for="child_school_name" class="add__child__labels">School name</label>
    <select class="add__child__select" name="school_name" id="child_school_name">
      {{#each schools}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label for="child_year" class="add__child__labels">Year <input type="text" name="year" class="add__child__inputs" id="child_year"> </label>
    <label for="child_dob" class="add__child__labels">Date of birth <input type="date" name="dob" class="add__child__inputs" id="child_dob"> </label>
    <label for="submitBtn"> <input type="submit" value="Add child"> </label>
  </form>
</section>
