{{> header_banner}}
{{> flash_messages}}
<section class="add_da">
  <form class="add_da_form" action="/add_da" method="post">
    <h3 class="add_da_form__heading">Add Designated adult</h3>
    <label for="da_first_name" class="add__da__labels">First name <input type="text" name="first_name" class="add__da__inputs" id="da_first_name"> </label>
    <label for="da_last_name" class="add__da__labels">Last name <input type="text" name="last_name" class="add__da__inputs" id="da_last_name"> </label>
    <label for="da_email" class="add__da__labels">Email <input type="text" name="email" class="add__da__inputs" id="da_email"> </label>
    <label for="da_address" class="add__da__labels">Address <input type="text" name="address" class="add__da__inputs" id="da_address"> </label>
    <label for="da_postcode" class="add__da__labels">Post Code <input type="text" name="postcode" class="add__da__inputs" id="da_postcode"> </label>
    <label for="da_phone" class="add__da__labels">Phone <input type="text" name="phone" class="add__da__inputs" id="da_phone"> </label>
    <label for="submitBtn"> <input type="submit" value="Submit"> </label>
  </form>

  <a href="/parent_profile">Back</a>


</section>
