<section class="home background_image">
  <div class="home__container flex-column overlay ">
    <header>
      <h1 class="home__title">HomeSafe</h1>
    </header>
    <p class="home__tagline">A website to help parent's inform their child’s school if someone other than the regular adult will be picking them up.</p>
    </header>

    <p> <a href="/user_select" class="home__login-link">Login</a> </p>

    <p class="home__register-para"> Don't have an account <a class="home__register-link" href="/user_select_register">register here.</a></p>


  </div>
</section>
