<div class='index'>
<header>
  <h1 class="home_title"> Welcome to homesafe</h1>
  <p class="home_tagline">A website to help guardian’s inform their child’s school if someone other than the regular guardian.</p>
</header>

<form class="home" action="/user_select" method="get">
  <label for="login_submit" class=""><input type="submit" value="Login" id="login_submit" class="home_user_login"> </label>
</form>


<form class="home" action="/user_select_register" method="get">
  <label for="login_submit" class=""><input type="submit" value="register here" id="login_submit" class="home_user_submit"> </label>
</form>
</div>
