<header>
  <h1> Welcome to homesafe</h1>
</header>

<form class="home" action="/user_select" method="get">
  <label for="login_submit" class=""><input type="submit" value="Login" id="login_submit" class="home_user_login"> </label>
  <p class="home__buttons__register">Don't have an account?</p><a href="#">register here</a>
</form>
