{{> header_banner}}
{{> flash_messages}}
<section class="login-parent">
    <form class="login-parent__form" action="/login_parent" method="post">
      <h3 class="login-parent__form__heading"> Parent Login</h3>
      <label for="parent_login_email_input" class="login-parent__form__labels"><input type="email" name="parent_email_login" id="parent_login_email_input" class="login-parent__form__inputs" placeholder="Email" required> </label>
      <label for="parent_login_password_input" class="login-parent__form__labels"> <input type="password" name="parent_password_login" id="parent_login_password_input" class="login-parent__form__inputs" placeholder="Password" required> </label>
      <label for="parent_login_submit" class="login-parent__form__inputs"><input type="submit" value="Submit" id="parent_login_submit" class="login-parent__form__submit"> </label>
    </form>
    <p class="register_or_login">Don't have an account, <a href="/parent_registration_form" class="login-parent__register-btn">register here.</a></p>
<a href="/user_select" class="login_parent__buttons__back">Go back</a>
  </section>
