<header class="parent-profile__header">
  <h1 class="parent-profile__header__title">HomeSafe</h1>
  <h2 class="parent-profile__header__title">Welcome Parent</h2>
  <a class="parent-profile__logout" href="/logout">Logout</a>
</header>

<section class="parent-profile__anchors">
  <a class="parent-profile__links" href="/add_child_page">Add child</a>
  <a class="parent-profile__links" href="/add_da_page"><button type="button" name="button">Add DA</button></a>
  <a class="parent-profile__links" href="/schedule_pickup">Schedule a pickup</a>
</section>


<section class="scheduled">
  {{#if parse_query_result}}
    {{#each parse_query_result}}
      <ul class='scheduled__pickup'>
        <li class='scheduled__pickup__date'>Date: {{formatDate this.pickup_date}}</li>
        <li class='scheduled__pickup__child'>Child: {{this.child_name}}</li>
        <li class='scheduled__pickup__da'>Designated adult: {{this.da_name}}</li>
      </ul>
    {{/each}}
  {{else}}
    <h3>You currently have no scheduled pickups.</h3>
  {{/if}}
</section>
