<section class="add_pickup">
  <form class="add__pickup__form" action="/schedule_pickup" method="post">
    <select class="add__pickup__select" name="child_name">
      {{#each children}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <select class="add__pickup__select" name="da_name">
      {{#each da}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <label for="pickup_date" class="add__pickup__labels">Pickup date<input type="date" name="dob" class="add__pickup__inputs" id="pickup_dob"> </label>
    <label for="pickup_keyword" class="add__pickup__labels"> Keyword <input type="text" name="keyword" class="add__pickup__inputs" id="pickup_keyword"> </label>
    <label for="submitBtn"> <input type="submit" value="Schedule pickup"> </label>
  </form>
  <a href="/parent_profile">Back</a>
</section>
