{{> header_banner}}
{{> flash_messages}}


<section class="add__pickup">
  <form class="add__pickup__form" action="/schedule_pickup" method="post">
    <h3 class="add__pickup__form__heading">Schedule pickup</h3>
      <p class="add__pickup__info">At least one child and one designated adult must be added before scheduling a pickup.</p>
    <label for="pickup_child" class="add__pickup__labels">Child name   <select class="add__pickup__select" name="child_name" id="pickup_child" required>
        {{#each children}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
      </select></label>

      <label for="pickup_da" class="add__pickup__labels">Designated adult name</label>
    <select class="add__pickup__select" name="da_name" id="pickup_da" required>
      {{#each da}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <label for="pickup_date" class="add__pickup__labels">Pickup date<input type="date" name="pickup_date" class="add__pickup__inputs add__pickup-dob" id="pickup_date" required> </label>
    <p class="add__pickup__info">Please enter a secure word that the carer would repeat to school when picking your child up.</p>
    <label for="pickup_keyword" class="add__pickup__labels"><input type="text" name="keyword" class="add__pickup__inputs" id="pickup_keyword" placeholder="Keyword" required> </label>
    <label for="submitBtn"> <input type="submit" value="Schedule pickup" class="add__pickup__submit"> </label>
  </form>
</section>
  <a href="/parent_profile" class="add__pickup__back-btn">Back</a>
