{{> header_banner}}
{{> flash_messages}}

<section class="school-registration">
  <form class="school-registration__form" action="/register_school" method="post">
    <h3 class="login-registeration__form__heading">School Register</h3>
    <label class="school-registration__labels" for="school-registration-name">Name<input type="text" name="name" id="school-registration-name" class="school-registration__inputs" required></label>
    <label class="school-registration__labels" for="school-registration-email">Email<input type="email" name="email" id="school-registration-email" class="school-registration__inputs" required></label>
    <label class="school-registration__labels" for="school-registration-password">Password<input type="text" name="password" id="school-registration-password" class="school-registration__inputs" required></label>
    <label for="school-registration-submit" class="school-registration__labels"> <input type="submit" value="Register" id="school-registration-submit" class="school-registration__submit"> </label>
  </form>

  <form class="login-registration__form__back_button" action="/user_select_register" method="get">
    <label for="back_button" class=><input type="submit" value="Go Back" class="login_registration__buttons__back"></label>
  </form>
</section>
