<section class="login-school">
    <form class="login-school__form" action="/login_school" method="post">
      <h1 class="login-school__form__heading"> School Loggin</h1>
      <label for="school_login_email_input" class="login-school__form__labels">Email<input type="email" name="school_Email_Login" id="school_login_email_input" class="login-school__form__inputs" required> </label>
      <label for="school_login_password_input" class="login-school__form__labels">Password <input type="password" name="school_password_login" id="school_login_password_input" class="login-school__form__inputs" required> </label>
      <label for="school_login_submit" class="login-school__form__inputs"><input type="submit" value="Submit" id="school_login_submit" class="login-school__form__submit"> </label>
    </form>
    <p><a href="/">Forgot your password?</a></p>

    <form class="login-school__form__back_button" action="" method="post">
      <button class="login_school__buttons__back" type="button" name="button">Go back</button>
    </form>
  </section>
