<section class="user_select">

  <div class="user_select__buttons">
    <p class="user_select__buttons__text">Are you a...</p>
    <a href="/school_login_page"><button class="user_select__buttons__parent" type="button" name="button">School</button></a>
    <a href="/parent_login_page"><button class="user_select__buttons__school" type="button" name="button">Parent</button></a>

  </div>

  <form class="user_select_back_button" action="/" method="get">
    <label for="back_button" class=""><input type="submit" value="Back" id="back_button" class="home_user_login"> </label>
  </form>


</section>
