<div class="background_image">

<section class="overlay user_select flex-column">

  <div class="user__select__buttons">
    <p class="user__select__text">Are you a...</p>
    <a href="/school_registration_form"><button class="user__select__button" type="button" name="button">School</button></a>
    <p class="user__select__text">or a</p>
    <a href="/parent_registration_form"><button class="user__select__button" type="button" name="button">Parent</button></a>

  </div>

  <form class="user_select_back_button" action="/" method="get">
    <label for="back_button" class=""><input type="submit" value="<" id="back_button" class="home__user__back"> </label>
  </form>


</section>
</div>
