<div class="background_image">
<section class="overlay user__select flex-column">
  <header>
    <h1 class="home__title">HomeSafe</h1>
  </header>
  <div class="user__select__buttons">
    <p class="user__select__text">Are you a...</p>
    <a href="/school_login_page"><button class="user__select__button" type="button" name="button">School</button></a>
    <p class="user__select__text">or a</p>
    <a href="/parent_login_page"><button class="user__select__button" type="button" name="button">Parent</button></a>

  </div>
<a href="/" class="user__select__back-link">Go back</a>

</section>
</div>
