<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> header}}
  <section>
    {{#if name}}
    <p>{{name}}</p>
    {{/if}}
  </section>
  <section>
    {{#if success}}
    <p>{{success}}</p>
    {{else if error_msg}}
    <p>{{error_msg}}</p>
    {{/if}}
  </section>
{{> nav}}
  <script type="text/javascript" src="/build/public/index.js"></script>
</body>


</html>
