<!DOCTYPE html>
<html>


{{> head}}


<body>
  {{{body}}}

    <script type="text/javascript" src="/public/prefix.min.js"></script>
  <script src="https://use.fontawesome.com/5baabe07ac.js"></script>
</body>


</html>
